@charset "utf-8";
.col-lg-6 {
    text-align: center;
    padding: 30px;
    margin: 0;
    box-sizing: border-box;
}
.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff); 
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: white;
    margin-top: 20%;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register-left p{
    font-weight: lighter;
    padding: 20%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
    margin-left: 20%;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: darkblue;
}

